<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <center>
        <div><h2>欢迎来到登录界面！</h2></div>
        <form action="/login" method="post" class="mutai">
            <div class="mask"></div>
        <div class="inputInfo">
            <p>用户名：<input type="text"name="username" placeholder="请输入用户名："></br></p>
            <p>密&emsp;码:<input type="password" name="password" placeholder="请输入密码："></br></p>
            <input type="submit" value="登录" onclick="Cancle()"></br>
            <p>还没有账号？
                <a href="/register">立即注册</a>
            </p>
        </div>
        </form>
    </center>
</body>
</html>