<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
        <form action="/register" method="post">
            <center>
                <div>
                <h3>注册</h3>
                <p>用&emsp;户&emsp;名&emsp;:<input type="text"name="username"/></p>
                <p>密&emsp;&emsp;&emsp;码&emsp;:<input type="password" name="password"/></p>
                <p>再次输入密码:<input type="password" name="password1"/></p>
                <p><input id=reg type="submit" value="立即注册" /></p>
                <p>
                    已有账号？<a href="/login">请登录</a>
                </p> 
                </div>   
            </center>
        </form>            
</body>
</html>